*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #000000;
  color: #000000;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
}
header{
  justify-content: center;
  text-align: center;
}
header > h1{
  color: azure;
  font-size: 2.5rem;
  font-weight: 700;
}
header > p {
  max-width: 400px; 
  font-weight:500;
  color: #8E8E8E;
}
.message{
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  border-radius: 8px;
  margin-block: 30px;
  width: 400px;
  color: aliceblue;
  
}
.message >p{
  margin: 5px;
}
.message > h2{
  margin: 5px;
  font-size: 1rem;
}
.win{
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 92, 0);
}
.lose{
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(126, 0, 0);
}
.hearts-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 max-width: 400px;
 gap: 5px;
}
.heart{
  width: 40px;
  height: 35px;
}
.word-container{
margin-top: 30px;
}
.letter{
  color: aliceblue;
  background-color: #494848;
  border-bottom: 2px solid rgb(228, 228, 228);
  margin-left: 4px;
  font-size: 1.125rem;
  padding:6px 15px;
  border-radius: 5px;
}
.CurrectWordReveal{
  background-color: #d31b1b;
}
.keyboard{
 margin-top: 30px;
 display: flex;
 flex-wrap: wrap;
 gap:5px;
 justify-content: center;
 max-width: 400px;
}
.disableKeyboard{
  opacity: 0.5;
  pointer-events: none;
  cursor:not-allowed;
}
.alphabetBtn{
  background-color: #151436;
  border-radius: 6px;
  border:#8E8E8E;
  width: 35px;
  height: 35px;
  border-bottom: 1px solid black;
  margin-left: 2px;
  font-size: 1.125rem;
  padding:5px 10px;
  color: white;
}
.newgame-btn{
  color: rgb(252, 252, 252);
  margin-top: 30px;
  background-color: rgba(255, 123, 0, 0.904);
  padding: 10px 30px;
  border-radius: 5px;
  font-family: sans-serif;
  border: none;
}
.currect{
background-color: green;
}
.wrong{
background-color: red;
}
.Warning{
  font-size: large;
  padding: 30px;
}

.sr-only{
  position: absolute;
  width: 1px;
  height:1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}